<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">

    <title>Unraveling Flexbox: The Definitive CSS Flexbox Book"</title>
    <meta name="description" content="
      With Unraveling Flexbox, you'll learn how to unlock the full potential of modern CSS to create
      responsive application layouts in hours, not days.
    ">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Google Verification -->
    <meta name="google-site-verification" content="Gqwf_jFVeI_uHj3Qe7Ul-2hF38SO1MeGlxAEwfOTeJE" />

    <!-- Icons -->
    <link rel="apple-touch-icon" href="/images/touch-icon.png">

    <!-- Styles -->
    <link
      rel="stylesheet"
      type="text/css"
      href="//cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css"
    >
    <link
      rel="stylesheet"
      type="text/css"
      href="//cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css"
    >
    <link
      rel="stylesheet"
      type="text/css"
      href="//cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.8/slick.min.css"
    >
    <link
      rel="stylesheet"
      type="text/css"
      href="/stylesheets/index.sass"
    >

    <!-- Fonts -->
    <link
      href='//fonts.googleapis.com/css?family=Permanent+Marker'
      rel='stylesheet'
      type='text/css'
    >
  </head>
  <body>
    <section id="menu">
      <nav>
        <a href="/">
          <img src="images/logo.svg" alt="Logo">Unraveling Flexbox
        </a>

        <div class="menu-navigation">
          <a href="#future">Learn More</a>
          <a href="#faq">FAQ</a>
          <a class="button" href="#download">Download</a>
        </div>
      </nav>
      <button type="button" class="js-open menu-button">
        <img src="images/hamburger.svg" alt="Menu">
      </button>
    </section>

    <main>
      <div id="content">
        {% block content %}{% endblock %}
      </div>
    </main>

    <!-- Scripts -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/3.6.0/lodash.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/fastclick/1.0.6/fastclick.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.8/slick.min.js"></script>
    <script src="javascript/index.coffee"></script>
  </body>
</html>
