<section id="starter-course">
  <h2>Free Unraveling Flexbox Sample</h2>
  <p class="subhead">
    Download Unraveling Flexbox for <strong>free</strong> and see how awesome it is for yourself.
  </p>

  <div class="actions">
    <!-- <%= link_to "Download Book Sample", downloads_sample_path, target: '_blank', class: "button js&#45;download&#45;sample" %> -->
  </div>
</section>
