<section id="download">
  <h2>Download Unraveling Flexbox</h2>
  <p class="subhead">
    Download Unraveling Flexbox for <strong>free</strong> and see how awesome it is for yourself.
  </p>

  <div class="actions">
    <a class="button" href="/Unraveling%20Flexbox.pdf" download>Download Book</a>
    <a
      class="button"
      href="https://www.youtube.com/playlist?list=PLuryIWj_JFnAzKRSYmm4E5aoTK9p1XIP_"
      download>
      Watch Videos
    </a>
  </div>
</section>
