<section id="faq">
  <h2>Frequently Asked Questions</h2>
  <h3>
    Can I really use flexbox today? Is it supported on IE?
  </h3>
  <p>
    Flexbox is now supported by <strong>98.6% of all internet traffic</strong>! The best kept secret
    of flexbox is that you can use it today and it will work almost everywhere!
  </p>
  <p>
    Flexbox works great in all modern browsers, including Internet Explorer 10+, Firefox, Chrome,
    Safari, Opera, iOS Safari, Opera Mini, Android 4.1+ and Chrome for Android.
  </p>
  <h3>
    What about older browsers? I need to support IE9. How does my site display on browsers that
    don’t support flexbox?
  </h3>
  <p>
    In this book, you’ll learn how to leverage <em>progressive enhancement</em> to display a simpler
    layout on older browsers.
  </p>
  <h3>
    Ugh, I hate all those vendor prefixes. Is there a way I can write flexbox without them?
  </h3>
  <p>
    Yes! In the book, I’ll show you how to set up your environment so you can ignore <em>all</em>
    vendor prefixes. You’ll write your code once, and it will work everywhere!
  </p>
  <h3>
    Why don’t I just use a CSS framework like Bootstrap or Foundation? Don’t those already have a grid system?
  </h3>
  <p>
    Bootstrap and Foundation include <em>basic</em> 12-column grid systems. For more complex layouts
    they fall short. Those frameworks are also <strong>bloated monsters</strong>, adding a lot of
    weight and complexity to your site. If all you’re looking for is a grid, flexbox is lightweight,
    portable and powerful.
  </p>
  <h3>
    Is flexbox even standardized yet?
  </h3>
  <p>
    Flexbox has stabilized and is implemented in all major browsers. At this point, the
    specification is <em>extremely</em> unlikely to change.
  </p>
</section>
