<section id="future">
  <img src="images/rocket_ship.svg" width="120" height="120" alt="Rocket Ship">
  <h2>Flexbox is the Future</h2>
  <p>
    Have you ever spent hours agonizing over a CSS layout that just wouldn't work? Have you
    struggled with columns, vertical centering, floats or inline displays? Have you even,
    <em>gasp</em>, given up and used tables for your layouts?
  </p>
  <p>
    It’s time to say goodbye to all that pain. Flexbox is a new CSS standard that lets you create
    fluid application layouts with very little effort. <strong>It works in all modern browsers, and
    you don’t need any special tools or languages to use it.</strong>
  </p>
  <p>
    Browser support for flexbox has come a long way in the last few years. <strong>98.6% of people
      are running a browser that supports flexbox, and that number is growing every day.</strong>
    <em>There’s no reason to wait to use flexbox!</em>
  </p>
</section>
