<header id="header">
  <figure>
    <img src="images/book_cover.png" alt="Unraveling Flexbox">
  </figure>
  <div class="description">
    <h1>
      Become a Flexbox Expert
    </h1>
    <p class="main-subhead">
      <p>
        Unraveling Flexbox is a book and video course that will teach you how to create dynamic,
        responsive layouts with ease. There's never been a better time to learn flexbox, so check it
        out!
      </p>
    <div class="actions">
      <a class="button" href="/#future">Learn More</a>
    </div>
  </div>
  <a class="down-arrow" href="/#future">
    <img src="images/down_arrow.svg" alt="Scroll to see more.">
  </a>
</header>
