<section id="layouts">
  <h2>The Layouts</h2>
  <p class="subhead">
    Every principle you’ll learn in this book is backed by a real world example. These are some of the layouts you'll learn how to build.
  </p>
  <div class="layouts">
    <figure class="layout">
      <img src="images/layouts/dice.svg" alt="Dice">
      <figcaption>Dice</figcaption>
    </figure>
    <figure class="layout">
      <img src="images/layouts/video_player.svg" alt="Video Player">
      <figcaption>Video Player</figcaption>
    </figure>
    <figure class="layout">
      <img src="images/layouts/pricing.svg" alt="Pricing">
      <figcaption>Pricing</figcaption>
    </figure>
    <figure class="layout">
      <img src="images/layouts/columns.svg" alt="12 Columns">
      <figcaption>12 Columns</figcaption>
    </figure>
    <figure class="layout">
      <img src="images/layouts/forms.svg" alt="Forms">
      <figcaption>Forms</figcaption>
    </figure>
    <figure class="layout">
      <img src="images/layouts/calendar.svg" alt="Calendar">
      <figcaption>Calendar</figcaption>
    </figure>
    <figure class="layout">
      <img src="images/layouts/minesweeper.svg" alt="Minesweeper">
      <figcaption>Minesweeper</figcaption>
    </figure>
    <figure class="layout">
      <img src="images/layouts/golden_rectangle.svg" alt="Golden Rectangle">
      <figcaption>Golden Rectangle</figcaption>
    </figure>
    <figure class="layout">
      <img src="images/layouts/photo_gallery.svg" alt="Photo Gallery">
      <figcaption>Photo Gallery</figcaption>
    </figure>
  </div>
</section>
