<section id="testimonials">
  <h2>What Are People Saying?</h2>

  <div class="carousel js-carousel">

    <blockquote>
      <p>
        Unraveling Flexbox is an utterly invaluable resource for all modern web developers and
        designers. It will revolutionize your CSS workflow so much you'll wonder how you ever made
        layouts before.
      </p>
      <cite>
        <img src="images/testimonials/josh_collinsworth.jpg" alt="Joshua Collinsworth">Joshua Collinsworth, Engineer,
        Instructor and&nbsp;Designer at Flywheel
      </cite>
    </blockquote>

    <blockquote>
      <p>
        After reading Unraveling Flexbox, I confidently transitioned multiple projects from
        traditional grid systems to flexbox. The examples are so close to our agency's real world
        scenarios. I can't imagine going back to the old way of doing things.
      </p>
      <cite>
        <img src="images/testimonials/andrew_shenstone.jpg" alt="Andrew Shenstone">Andrew Shenstone, Developer at Ply
        Interactive
      </cite>
    </blockquote>

    <blockquote>
      <p>
        There are many flexbox tutorials on the Internet, but most of them only cover basic syntax
        and behavior. What interested me in buying Unraveling Flexbox was the real world examples,
        and it delivered.
      </p>
      <cite><img src="images/testimonials/duc_ho.jpg" alt="Duc Ho">Duc Ho, Developer at EMC</cite>
    </blockquote>

    <blockquote>
      <p>
        Unraveling Flexbox is a worthwhile read. The examples given to demonstrate the features are
        excellent. Well done. I wouldn't hesitate to recommend it to others.
      </p>
      <cite>
        <img src="images/testimonials/darrin_robertson.jpg" alt="Darrin Robertson">Darrin Robertson, Sitefinity Developer
      </cite>
    </blockquote>
  </div>

  <div class="actions">
    <a class="button" href="#download">Download Unraveling Flexbox</a>
  </div>
</section>
