<section id="whats-inside">
  <h2>What's Inside the Book?</h2>
  <p class="subhead">
    Unraveling Flexbox is a practical guide that will teach you the skills you need to apply flexbox
    in the real world. With it, you'll learn how to:
  </p>
  <ul class="inclusions">
    <li class="inclusion">
      <figure>
        <img src="images/icons/layout.svg" alt="Real Applications Icon">
      </figure>
      <p>
        Build layouts for <em>actual applications</em>. These aren’t your grandma’s flexbox layouts.
      </p>
    </li>
    <li class="inclusion">
      <figure>
        <img src="images/icons/calendar.svg" alt="Use Flexbox Today Icon">
      </figure>
      <p>
        Use flexbox in production <em>today</em>, not five years from now.
      </p>
    </li>
    <li class="inclusion">
      <figure>
        <img src="images/icons/css.svg" alt="Pure CSS Icon">
      </figure>
      <p>
        Write flexbox in <em>pure CSS</em> without the need for vendor prefixes, polyfills,
        libraries or hacks.
      </p>
    </li>
    <li class="inclusion">
      <figure>
        <img src="images/icons/bug.svg" alt="Quirks Icon">
      </figure>
      <p>
        Sidestep the major flexbox browser bugs, quirks and inconsistencies.
      </p>
    </li>
    <li class="inclusion">
      <figure>
        <img src="images/icons/phone.svg" alt="Responsive Icon">
      </figure>
      <p>
        Create <em>responsive</em> flexbox layouts that work great on phones, tablets, desktops and
        everything in-between.
      </p>
    </li>
    <li class="inclusion">
      <figure>
        <img src="images/icons/ie.svg" alt="Older Browsers Icon">
      </figure>
      <p>
        Gracefully degrade on older browsers without reimplementing your layouts.
      </p>
    </li>
    <li class="inclusion">
      <figure>
        <img src="images/icons/grid.svg" alt="Grid System Icon">
      </figure>
      <p>
        Write your very own responsive grid system. Say goodbye to clunky float-based layouts.
      </p>
    </li>
  </ul>
</section>
