@keyframes spin
  0%
    transform: rotate(0deg)
  100%
    transform: rotate(360deg)

button, .button
  display: inline-block
  padding: $spacing / 4 $spacing
  position: relative

  border: none
  border-radius: $spacing / 8

  font-size: 0.8333333333rem
  font-weight: 400
  text-decoration: none
  line-height: $spacing

  background-color: $portage
  outline: none
  user-select: none
  transition: color 0.15s, background-color 0.15s

  &, &:active, &:visited, &:focus
    color: $white

  &:active
    background-color: $blue-marguerite

  // style the button spinner
  &::after
    $size: $spacing * 0.75

    content: ""
    width: $size
    height: $size

    position: absolute
    top: 50%
    right: 50%
    margin-top: -$size / 2
    margin-right: -$size / 2

    background-image: image-url("icons/spinner.svg")
    background-position: center
    background-repeat: no-repeat
    background-size: $size
    opacity: 0

    transition: opacity 0.15s
    animation: spin 0.5s linear infinite

  // show the button spinner when the button is disabled
  &[disabled]
    color: transparent

    &::after
      opacity: 1
