{% extends 'layouts/layout.njk' %}

{% block content %}
  {% include "partials/header.njk" %}
  {% include "partials/future.njk" %}
  {% include "partials/whats-inside.njk" %}
  {% include "partials/testimonials.njk" %}
  {% include "partials/layouts.njk" %}
  {% include "partials/faq.njk" %}
  {% include "partials/download.njk" %}
{% endblock %}
